<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Inicio</a></li>
  <li class="{% if page.url contains '/cursos/' %} active {% endif %}"><a href="{{ "/cursos/" | absolute_url }}">Cursos</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">Sobre mí</a></li>
</ul>

<ul class="icons">
  <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
  <li><a href="https://linkedin.com/in/{{site.linkedin}}" class="icon fa-linkedin" rel="nofollow"><span class="label">LinkedIn</span></a></li>
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
  <li><a href="https://stackoverflow.com/users/{{site.stackoverflow}}" class="icon fa-stack-overflow" rel="nofollow"><span class="label">StackOverflow</span></a></li>
</ul>
